{% extends "adminbase.html" %}
{% block content %}
         <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <span style="font-size: 30px; font-weight: bold;">Order </span>
              <h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home/Order/</span>Payment</h5>
              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                   <div class="card-header d-flex justify-content-between align-items-center"style=" background-color: rgb(18, 2, 89); height: 50px;" >
                      <h4 class="mb-0" style="color: white;">Entry</h4>
                                <a href="{% url 'orderpayment' %}"><button class="btn btn-light btn-sm service-btn">
                            <i class="" style=" position: relative;left: 4px; top: -3px;"></i>
                            <span>Service</span>
                        </button></a>
                    </div>
                  
                    <div class="card-body" style="margin-top: 20px;">
                    <form method="post" id="orderpaymententry">
                      {% csrf_token %}
                        <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">payment date</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="menu-icon tf-icons bx bx-calendar"></i></span>
                            <input
                              name="payment_date"
                              type="date"
                              class="form-control"
                              id="date"
                              placeholder=" Order Item ID"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                          <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email"> payment ID<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"> <i class="menu-icon tf-icons bx bx-money"></i></span>
                            <input
                              name="payment_ID"
                              required
                              type="text"
                              id="purchase"
                              class="form-control"
                              placeholder="Payment ID"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                            <!-- <span id="basic-icon-default-email2" class="input-group-text">@example.com</span> -->
                          </div>
                          <span class="error-msg"></span>
                        </div>
                          <div class="col-12 col-md-4 mb-3">
                           <label class="form-label" for="basic-icon-default-phone">order ID<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"
                              ><i class="menu-icon tf-icons bx bx-cube"></i></span>
                            <input
                              name="order_ID"
                              required
                              type="text"
                              id="order"
                              class="form-control phone-mask"
                              placeholder="Order ID "
                              aria-label="658 799 8941"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>
                        </div>
                       </div>
                        <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">Customer ID<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-user"></i
                                ></span>
                            <input
                              name="Customer_ID"
                              required
                              type="text"
                              id="cid"
                              class="form-control"
                              placeholder="Customer ID"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div> 
                            <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">Paid amount<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                            <input
                              name="paid_amount"
                              required
                              type="text"
                              id="tax"
                              class="form-control"
                              placeholder="Paid Amount"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div> 
                           <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">payment mode<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                             <select class="form-select"
                                   name="payment_mode"
                                  required 
                                  id="position1" 
                                  aria-label="Salary Dropdown" 
                                  aria-describedby="basic-icon-default-fullname2">
                               <option value="" selected disabled>Select Payment Mode</option>
                               <option value="UPI">UPI</option>
                               <option value="Cards">Cards</option>
                               <option value="">Bank Transfer</option>
                               <option value="">Cash</option>
                             </select>
                          </div>
                        </div>
                      </div>
                       <div class="row">
                          <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">balance</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                            <input
                              name="balance"
                              type="text"
                              id="pay"
                              class="form-control"
                              placeholder="Balance"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div>

                        <div class="col-12 col-md-4 mb-3">
                         <label class="form-label" for="basic-icon-default-fullname">Status<span class="text-danger">*</span></label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                              <i class="bx bx-user"></i>
                            </span>
                             <select class="form-select" 
                                  name="status"
                                  required
                                  id="status1" 
                                  aria-label="Status Dropdown" 
                                  aria-describedby="basic-icon-default-fullname2">
                               <option value="" selected disabled>Select Status</option>
                               <option value="Active">Active</option>
                               <option value="Inactive">Inactive</option>
                             </select>
                        </div>
                        </div>
                      </div>
                       <div class="row">
                           <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-message">Remark</label>
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-message2" class="input-group-text"
                                >
                                <!-- <i class="bx bx-comment"></i
                              > -->
                            </span>
                              <textarea
                                name="remark"
                                style="resize: none;"
                                id="Addressline"
                                class="form-control"
                                placeholder="Add your Remark"
                                aria-label="Hi, Do you have a moment to talk Joe?"
                                aria-describedby="basic-icon-default-message2"
                              ></textarea>
                            </div>
                          </div>
                          </div>
                          <button type="submit"  class="btn btn-success" id="s13" style="width: 150px; height: 40px; position: relative; left: 360px; background-color: green; margin-top: 15px;"><i class="bx bx-check" style="position: relative; left: -5px; top: -2px;"></i><b>Submit</b></button>
                          <button type="reset" class="btn btn-danger" style="width: 150px; height: 40px; position: relative; left: 400px; background-color: red;margin-top: 15px;"><i class="bx bx-refresh" style="position: relative; left: -5px; top: -2px; "></i><b>Reset</b></button>
                    </form>
                   </div>
                  </div>
                </div>
              </div>
            </div>
                          
                
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Faizan</a>
                </div>



                  <!-- <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  > -->
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    $('form').submit(function (e) { 
      e.preventDefault();
      // console.log("Form Submit Called !");
      Swal.fire({
          icon:'question',
          title: "Do you want to insert Data ?",
          showCancelButton: true,
          confirmButtonText: "Yes",
        }).then((result) => {
          if (result.isConfirmed) {
            let formdata=new FormData(document.getElementById('orderpaymententry'))
          $.ajax({
            type: "POST",
            url: "{% url 'orderpaymententry' %}",
            data:formdata,
            processData:false,
            contentType:false,
            success: function (response) {
              // console.log(response);
              if(response.success==200){
                 Swal.fire({
                      title: response.title,
                      text: response.message,
                      icon: response.icon
                      
                    }).then(()=>{
                      $('#orderpaymententry')[0].reset();   //  Reset form here
                    });
              }
              else{
                Swal.fire({
                      title: response.title,
                      text: response.message,
                      icon: response.icon
                      
                    })
              }
              
            }
          });
          }
        });
      return false;
      
      
    });
  </script>
{% endblock content %}