{% extends "adminbase.html" %}
{% block content %}
         <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <span style="font-size: 30px; font-weight: bold;">Order </span>
              <h5 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home/Order/</span>Payment</h5>
              <a href="Order-payment-entry.html"><button type="Entry" class="" style="width: 100px; height: 40px; position: relative; left: 1012px;top: -70px; background-color:#868686 ; border: 1px solid #868686; color: #fff; border-top-left-radius:10px ; border-bottom-left-radius:10px ;" >Entry</button></a>
              <a href="Order-payment-update.html"><button type="service" class="" style="width: 100px; height: 40px; position: relative; left: 1007px;top: -70px; background-color:  #17a2b8; border: 1px solid  #17a2b8; color: #fff;  border-top-right-radius:10px ; border-bottom-right-radius:10px ;" >Update</button></a>

              <!-- Basic Layout -->
              <div class="row" style="margin-top: -40px;">
                <div class="col-xl">
                  <div class="card mb-4">
                   <div class="card-header d-flex justify-content-between align-items-center"style=" background-color: rgb(18, 2, 89); height: 50px;" >
                      <h4 class="mb-0" style="color: white;">Service</h4>
                      <a href="category-entry.html"> <button style="border-radius: 10px; height: 35px; width: 110px; background-color: #00C2FF; color: #ffff; position: relative; left: 10px;font-size: 18px;">+ Add New</button> </a>
                      
                    </div>
                  
                    <div class="card-body" style="margin-top: 20px;">
                      <form>
                        <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-fullname">payment date</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"
                              ><i class="menu-icon tf-icons bx bx-calendar"></i></span>
                            <input
                              type="date"
                              class="form-control"
                              id="date"
                              placeholder=" Order Item ID"
                              aria-label="John Doe"
                              aria-describedby="basic-icon-default-fullname2"
                            />
                          </div>
                        </div>
                          <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email"> payment ID</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"> <i class="menu-icon tf-icons bx bx-money"></i></span>
                            <input
                              type="text"
                              id="purchase"
                              class="form-control"
                              placeholder="Payment ID"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                            <!-- <span id="basic-icon-default-email2" class="input-group-text">@example.com</span> -->
                          </div>
                          <span class="error-msg"></span>
                        </div>
                          <div class="col-12 col-md-4 mb-3">
                           <label class="form-label" for="basic-icon-default-phone">order ID</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"
                              ><i class="menu-icon tf-icons bx bx-cube"></i></span>
                            <input
                              type="text"
                              id="order"
                              class="form-control phone-mask"
                              placeholder="Order ID "
                              aria-label="658 799 8941"
                              aria-describedby="basic-icon-default-phone2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div>
                      </div>
                      <form>
                        <div class="row">
                        <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">Customer ID</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-user"></i
                                ></span>
                            <input
                              type="texZ"
                              id="user"
                              class="form-control"
                              placeholder="Customer ID"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div> 
                            <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">Paid amount</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                            <input
                              type="text"
                              id="pay"
                              class="form-control"
                              placeholder="Paid Amount"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div> 
                           <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">payment mode</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                             <select class="form-select" 
                                  id="position1" 
                                  aria-label="Salary Dropdown" 
                                  aria-describedby="basic-icon-default-fullname2">
                               <option selected disabled>Select Payment Mode</option>
                               <option value="UPI">UPI</option>
                               <option value="Cards">Cards</option>
                               <!-- <option value=""></option>
                               <option value=""></option>
                               <option value=""></option> -->
                             </select>
                          </div>
                        </div>
                    </div>
                      <div class="row">
                          <div class="col-12 col-md-4 mb-3">
                          <label class="form-label" for="basic-icon-default-email">balance</label>
                          <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="bx bx-money"></i
                                ></span>
                            <input
                              type="text"
                              id="tax"
                              class="form-control"
                              placeholder="Balance"
                              aria-label="john.doe"
                              aria-describedby="basic-icon-default-email2"
                            />
                          </div>
                          <span class="error-msg"></span>
                        </div>

                        <div class="col-12 col-md-4 mb-3">
                         <label class="form-label" for="basic-icon-default-fullname">Status</label>
                          <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text">
                              <i class="bx bx-user"></i>
                            </span>
                             <select class="form-select" 
                                  id="status1" 
                                  aria-label="Status Dropdown" 
                                  aria-describedby="basic-icon-default-fullname2">
                               <option selected disabled>Select Status</option>
                               <option value="Active">Active</option>
                               <option value="Inactive">Inactive</option>
                             </select>
                        </div>
                        </div>
                    </div>
                     <div class="row">
                           <div class="mb-3">
                            <label class="form-label" for="basic-icon-default-message">Remark</label><span style="color: red;">*</span>
                            <div class="input-group input-group-merge">
                              <span id="basic-icon-default-message2" class="input-group-text"
                                >
                                <!-- <i class="bx bx-comment"></i
                              > -->
                            </span>
                              <textarea
                                style="resize: none;"
                                id="Addressline"
                                class="form-control"
                                placeholder="Add your Remark"
                                aria-label="Hi, Do you have a moment to talk Joe?"
                                aria-describedby="basic-icon-default-message2"
                              ></textarea>
                            </div>
                          </div>
                          </div>
                          <button type="update"  class="btn btn-success" id="s15" style="width: 150px; height: 40px; position: relative; left: 410px; background-color: green; margin-top: 15px;"><i class="bx bx-edit" style="position: relative; left: -5px; top: -2px;"></i><b>Update</b></button>
                          <button type="reset" class="btn btn-danger" style="width: 150px; height: 40px; position: relative; left: 460px; background-color: red;margin-top: 15px;"><i class="bx bx-refresh" style="position: relative; left: -5px; top: -2px; "></i><b>Reset</b></button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
                          
                
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">Faizan</a>
                </div>



                  <!-- <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  > -->
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

  
   <script>
      $(document).ready(function () {
        const payment_date = localStorage.getItem('payment_date');
        const payment_id = localStorage.getItem('payment_id');
        const order_id = localStorage.getItem('order_id');
        const customer_id = localStorage.getItem('customer_id'); 
        const paid_amount = localStorage.getItem('paid_amount');
        const payment_mode = localStorage.getItem('payment_mode');
        const balance = localStorage.getItem('balance');
        const status = localStorage.getItem('status');
        const remark = localStorage.getItem('remark');
      
        $('#date').val(payment_date);
        $('#purchase').val(payment_id);
        $('#order').val(order_id);
        $('#user').val(customer_id);
        $('#pay').val(paid_amount);
        $('#position1').val(payment_mode);
        $('#tax').val(balance);
        $('#status1').val(status);
        $('#Addressline').val(remark);
      });
    </script>
   <!-- SweetAlert v1 CDN -->
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock content %}